#textHolder {
    display: none;
    border: 1px solid #333;
}

#blocklyDiv {
    position: relative;
    left: -265px;
}

#dataHolder {
    display: block;
    height: auto;
    width: 100%;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #eee;
}

#dropBox {
    height: 440px;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
}

#upHolder {
    border: #ccc 1px solid;
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

#tabParent {
    position: relative;
    left: -250px;
}

#codeVisible {
    position: relative;
    left: -265px;
}

#bodyValue {
    height: 300px;
    width: 300px;
}


/* .blocklyTreeLabel {
    color: white;
} */


/* Adds padding around the group of categories and separators. */


/* .blocklyToolboxContents {
    padding: .5em;
} */


/* Adds space between the categories, rounds the corners and adds space around the label. */


/* .blocklyTreeRow {
    padding: 3px;
    margin-bottom: .5em;
    border-radius: 4px;
} */

.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocklyTreeRow {
    height: initial;
}

#basic-addon1 {
    background-color: dodgerblue;
    color: white;
}