#mx-site-header .mx-logo-bg {
    position: relative;
    display: block;
    min-width: 28px;
    height: 41px;
    padding: 4px 10px 4px 0px;
}

#mx-site-header .brand span.lsq-logo-icon {
    max-height: 35px;
    width: 28px;
    padding-top: 5px;
    display: block;
    float: left;
    height: 35px;
    background: url(https://f1.leadsquaredcdn.com/cdn/img/leadsquared/master-sprite-v5.png);
    background-position: 0px 6px;
    background-repeat: no-repeat;
}

#mx-site-header .brand span.lsq-logo-text-icon {
    max-height: 30px;
    width: 145px;
    padding-top: 5px;
    display: block;
    float: left;
    height: 30px;
    background: url(https://f1.leadsquaredcdn.com/cdn/img/leadsquared/master-sprite-v5.png);
    background-position: -28px 6px;
    background-repeat: no-repeat;
}

.margin-top {
    margin-top: 15px;
}


/* 
.blocklySvg {
    background-image: url(/tile.png) !important;
    background-repeat: repeat;
    background-size: 30px 30px;
    background-color: #FBFBFB;
}

.blocklyToolboxCategory {
    padding: 5px;
}

.blocklyToolboxCategory:hover,
.blocklyTreeRow:hover,
.blocklyTreeRowContentContainer:hover {
    background-color: #0084e8;
}

.blocklyTreeSelected {
    background-color: #0084e8 !important;
    padding: 5px !important;
    margin: -5px !important;
    height: 35px !important;
} */

.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocklyTreeRow {
    height: initial;
}

body {
    font-family: 'Roboto', serif !important;
}

.nav-link {
    cursor: pointer;
}

.blocklyTreeRowContentContainer,
.blocklyTreeRow {
    cursor: pointer !important;
}

#dropBox {
    height: 400px;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
}

#bodyValue {
    height: 300px;
    width: 300px;
}